td, label{
    text-align:center;
}

input[type=text] {
    width:90%
}

input[type=checkbox] {
    margin-left: 15px;
}

#label {
    margin-left:5px;
}

button {
    margin: auto; 
    display: flex;
    width:20%;
    justify-content:center;
}

table
{
    table-layout: fixed;
    width: 80%;
    font-size:10px;
}